@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Atlas-Cloud Team <br />
    Sujoy Debnath <br />
    Amita VishwaKarma <br />
    Prasad Almelkar <br />
    Chandan Chaurasia <br />
    Ketaki Saha <br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
